
git/
Markdown/
gitbook-download/
*~
*#*
*.o
*.so
*.sh
*.ppm
*.doc
*odt
*apk
*pdf
*.zip
*.tar*
*.tgz
*.rar
*.jar
*.wav
*.mid
*.mp3
*.mp4
*.mpg
*.MPG*
*.ogg
*.kar
*.wma
*.lyric
*.decodedlyric
*.decodedmusic
*.music
*.dump
*.ass
*.DKD
*.cdg
*.back
*.old
*.class
*tmp*
Consent*docx
Diversions/JOGL/
Karaoke/wildmidi-devel/
Karaoke/Jack/reverb+volume*/
MIDI/Jack*/jack-*
Sampled/User/vlc-2.1.3/
DSP/LADSPA/__MACOSX/
DSP/LADSPA/ladspa_sdk/
DSP/LADSPA/swh-plugins-0.4.9/
DSP/LADSPA/tap-plugins-0.7.2/
DSP/LADSPA/sound/
DSP/LADSPA/stereo_amp/
DSP/LADSPA/mono_amp/
Diversions/RaspberryPiOpenGL/ColorTracking/
Diversions/RaspberryPiOpenGL/PiOmxTextures/
Diversions/RaspberryPiOpenGL/__MACOSX/ColorTracking/
Diversions/RaspberryPiOpenGL/cairo-1.12.14
Diversions/RaspberryPiOpenGL/jpeg_gles2/
Diversions/RaspberryPiOpenGL/openGL-RPi-tutorial-master/
Diversions/RaspberryPiOpenGL/opengles-book-samples-read-only/
Diversions/RaspberryPiOpenMAX/rpi-openmax-demos/
Diversions/SDL/SDL2-2.0.0/
Diversions/RaspberryPiOpenMAX/rpi-openmax-demos/
Karaoke/Subtitles/ffmpeg/
Karaoke/Subtitles/libass-master/
Karaoke/Subtitles/songs/
Karaoke/Timidity/songs/
Karaoke/User/FantasticOldies/
Karaoke/User/freemidi/
Karaoke/User/kmid-1.7/
Karaoke/User/vcdimager-0.7.24/
Karaoke/FluidSynth/fluidsynth-1.1.6-float/
Karaoke/FluidSynth/fluidsynth-1.1.6.orig/
Karaoke/FluidSynth/fluidsynth-1.1.6/
Karaoke/FluidSynth/pango-1.32.5/
Karaoke/Jack/reverb+volume*/
Karaoke/JavaSound/wma/gst-plugins-bad-1.2.2/
Karaoke/Malata/files/
Karaoke/MP3+G/SongTable-2014-01-18/bin/
Karaoke/MP3+G/SongTable/bin/
Karaoke/MP3+G/adt-bundle-linux-x86_64-20131030/
Karaoke/MP3+G/gkaraoke-0.2/
Karaoke/MP3+G/plarpebu*/
Karaoke/Malata/files/songs/
Karaoke/Malata/thanth/
Karaoke/Scoring/
Karaoke/Sonken/DigiLyf/
Karaoke/Subtitles/GtkPlayer/rtutils/
Karaoke/Subtitles/MotherAndSon/
Karaoke/MP3+G/SongTableBackups/
MIDI/Alsa/alsa-utils-1.0.23/
MIDI/FluidSynth/fluidsynth-1.1.6*/
MIDI/Jack/JACK-MIDI-Examples-master/
MIDI/JavaSound/tux/
MIDI/User/Musica*/
MIDI/User/libtimidity-0.1.0/
MIDI/User/sfArkLib-master/
MIDI/User/sfarkxtc-master/
MIDI/User/xmms-timidity-0.1/
MIDI/Python/midi-0.2.1/
MIDI/Python/pyPortMidi-0.0.3/
MIDI/Timidity/TiMidity++-2.14.0*/
Miscellaneous/Android/android-ndk-r8d/
Miscellaneous/RaspberryPi/Broadcom/
Miscellaneous/RaspberryPi/arm/
Miscellaneous/RaspberryPi/firmware-master/
Miscellaneous/RaspberryPi/libva-1.1.0/
Miscellaneous/RaspberryPi/omxplayer-master/
Miscellaneous/RaspberryPi/userland-master/
Sampled/Alsa/alsa-lib-1.0.9rc4/
Sampled/FFmpeg/ffmpeg-1.1.3/
Sampled/FFmpeg/ffmpeg/
Sampled/FFmpeg/ffmpeg/
Sampled/FFmpeg/ffmpeg/
Sampled/GStreamer/gst-plugins*/
Sampled/GStreamer/gstreamer-1.4.0/
Sampled/Jack/jack-1*/
Sampled/Jack/qjackctl-0.3.9/
Sampled/Jack/jack_capture-0.9.67/
Sampled/Jack/jack_mixer-9/
Sampled/Jack/jack_capture-0.9.67/
Sampled/OpenMAX/libomxil-bellagio-0.9.3/
Sampled/OpenMAX/OpenMAX_IL/LIM/
Sampled/PulseAudio/pulseaudio-2.1/
Sampled/PulseAudio/cpp/
Sampled/SessionManagement/ladish-1/
Sampled/OpenMAX/lim-omx-1.1/
Sampled/PulseAudio/pavucontrol-1.0/
Streaming/HTML5/MIDI.js-master/
Streaming/HTML5/web-midi-test-suite-master/
User/simpson.mkv
all/./Karaoke/FluidSynth/qtkaraoke_player
Karaoke/FluidSynth/gtkkaraoke_player_video_pango
Karaoke/FluidSynth/test_label
Karaoke/FluidSynth/gtkkaraoke_player_video
Karaoke/FluidSynth/karaoke_player
Karaoke/FluidSynth/file_player
Karaoke/FluidSynth/gtkkaraoke_player
Karaoke/FluidSynth/gtkkaraoke_player2
Karaoke/Subtitles/testxv
Karaoke/Subtitles/play_video
Karaoke/Subtitles/tutorial02
Karaoke/Subtitles/tutorial05
Karaoke/Subtitles/a.out
Karaoke/Subtitles/gtkkaraoke_player
Karaoke/Subtitles/gtkkaraoke_player2
Karaoke/Timidity/gtkkaraoke_player_video_pango
Karaoke/Timidity/gtkkaraoke
Karaoke/Timidity/gtkkaraoke_player_pango
Karaoke/Timidity/gtkkaraoke_player_video_pango_audio
Karaoke/Timidity/if_overlay.so
Karaoke/Timidity/if_x.so
Karaoke/Timidity/if_video.so
Karaoke/Timidity/ok
MIDI/Alsa/aconnect
MIDI/Alsa/a.out
MIDI/Alsa/seqdemo
MIDI/FluidSynth/file_player
MIDI/Jack/fluidjack
MIDI/Timidity/if_video_player.so
MIDI/Timidity/if_my_interface.so
MIDI/Timidity/my_timidity
MIDI/Timidity/thread_eg
MIDI/Timidity/video_player
MIDI/Timidity/video_player3a
MIDI/Timidity/video_player3
MIDI/Timidity/draw_image
Diversions/X11/x11_play_video
Diversions/Gtk2-Gtk3/textwatch
Diversions/Gtk2-Gtk3/text
Diversions/Gtk/play_video
Diversions/Gtk/display_image
Diversions/Gtk/gtk_play_video
Diversions/Gtk/tutorial_play
Diversions/Gtk/gtk_play_video_overlay_alpha
Diversions/Gtk/gtk_play_video_overlay
Diversions/Gtk/gtk_play_video_pango
Diversions/Gtk/gtk_play_video_cairo
DSP/LADSPA/applyplugin
Sampled/Alsa/alsa-mic-2-speaker
Sampled/Alsa/aplay-L
Sampled/Alsa/latency.orig
Sampled/Alsa/volume
Sampled/Alsa/device-info
Sampled/Alsa/latency
Sampled/Alsa/alsa_device_info
Sampled/Alsa/alsa_capture
Sampled/Alsa/aplay-l
Sampled/Alsa/alsa_more_device_info
Sampled/Alsa/playback-capture
Sampled/Alsa/alsa_playback
Sampled/SessionManagement/delay
Sampled/PulseAudio/pavolume
Sampled/PulseAudio/palist_devices_ongoing
Sampled/PulseAudio/pavolume_client
Sampled/PulseAudio/palist_clients
Sampled/PulseAudio/pacat
Sampled/PulseAudio/pavolume_sink_input
Sampled/PulseAudio/pa-mic-2-speaker-simple
Sampled/PulseAudio/pamonitor_clients
Sampled/PulseAudio/pavolume_sink
Sampled/PulseAudio/palist_devices
Sampled/PulseAudio/pacat-simple
Sampled/PulseAudio/parec-simple
Sampled/PulseAudio/pulsedevlist
Sampled/PulseAudio/pa-mic-2-speaker
Sampled/PulseAudio/pacat2
Sampled/PulseAudio/parec-latency
Sampled/PulseAudio/parec
Sampled/Jack/portinfo
Sampled/Jack/listports
Sampled/Jack/thru_client
Sampled/Jack/delay
Sampled/Jack/simple_client_tutorial
Sampled/Jack/capture_client
Sampled/Jack/simple_client
Sampled/OpenMAX/OpenMAX_IL_volume
Sampled/OpenMAX/OpenMAX_IL_info
Sampled/FFmpeg/play
